<p id="notice"><%= notice %></p>

<p>
  <strong>Is available:</strong>
  <%= @plot.is_available %>
</p>

<p>
  <strong>Area:</strong>
  <%= @plot.area %>
</p>

<p>
  <strong>Cash price:</strong>
  <%= @plot.cash_price %>
</p>

<p>
  <strong>Installment amount:</strong>
  <%= @plot.installment_amount %>
</p>

<p>
  <strong>Term deposit amount:</strong>
  <%= @plot.term_deposit_amount %>
</p>

<p>
  <strong>Total installments:</strong>
  <%= @plot.total_installments %>
</p>

<p>
  <strong>Housing project:</strong>
  <%= @plot.housing_project %>
</p>

<p>
  <strong>User:</strong>
  <%= @plot.user %>
</p>

<p>
  <strong>Beacon code:</strong>
  <%= @plot.beacon_code %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @plot.designation %>
</p>

<p>
  <strong>Image map coordinates:</strong>
  <%= @plot.image_map_coordinates %>
</p>

<p>
  <strong>Image map shape:</strong>
  <%= @plot.image_map_shape %>
</p>

<p>
  <strong>State:</strong>
  <%= @plot.state %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @plot.street_address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plot.description %>
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
