<% title t("views.plots.show.title", project_name: @plot.housing_project.name, plot_name: @plot.street_address)  %>




<section id="availability">
  <h1>
    <%= link_to @plot.housing_project.name, housing_projects_path %><br />
    <%= @plot.street_address %>
  </h1>

  <br />

  <p>
    <strong><%= t("views.plots.show.copy.area") %></strong>:
    <%= t("views.plots.show.copy.plot_area", plot_area_in_hectares: number_with_precision(@plot.area, precision: 1), plot_area_in_acres: number_with_precision(@plot.area * 2.47105, precision: 1)) %><br />

    <strong><%= t("views.plots.show.copy.available") %></strong>:
    <%= t("views.plots.show.copy.availability.#{@plot.is_available?}") %>
  </p>
</section><!-- /#availability -->




<br class="section_break">
