<div class="row">
  <div class="col-lg-12">
    <header>
      <h1><%= title t("views.housing_projects.index.title") %></h1>
    </header>
  </div>
</div><!-- /.row -->




<div class="row">
  <div class="col-lg-12">
    <% @housing_projects.each do |housing_project| %>
      <section class="<%= housing_project.subdomain %> plot details">

        <h2><%= housing_project.name %></h2>

        <p><%= housing_project.summary %></p>

        <%= t("views.housing_projects.index.copy.hover_over_html") %>

        <%= image_tag("land_projects/#{housing_project.subdomain}/#{housing_project.plot_layout_image}",  width: "#{housing_project.image_map_width}", height: "#{housing_project.image_map_height}", class: "img-responsive center-block", usemap: "#plot_layout_map_#{ housing_project.id }") %>

        <map name="plot_layout_map_<%= housing_project.id %>">
          <% housing_project.plots.each do |plot| %>
            <% if plot.image_map_coordinates.present? %>
              <area
                shape="<%= plot.image_map_shape %>"
                coords="<%= plot.image_map_coordinates.join(", ") %>"
                data-toggle="modal"
                href="<%= plot_path(plot) %>"
                alt="<%= plot.street_address %>. <%= t("views.housing_projects.index.copy.plot_availability.is_#{plot.is_available}") %>."
                title="<%= plot.street_address %>. <%= t("views.housing_projects.index.copy.plot_availability.is_#{plot.is_available}") %>."
              />
            <% end %>
          <% end %>
        </map>
      </section><!-- /.<%= housing_project.subdomain %> -->
    <% end %>
  </div>
</div><!-- /.row -->




<script type="text/javascript">
  $(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
  });
</script>
